<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.CodeAnalysis.NetAnalyzers" version="5.0.3" targetFramework="net48" developmentDependency="true" />
  <package id="Microsoft.VisualStudio.OLE.Interop" version="16.9.31023.347" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.SDK.EmbedInteropTypes" version="15.0.36" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.Shell.Interop" version="16.9.31023.347" targetFramework="net48" />
  <package id="Microsoft.VisualStudio.TextManager.Interop" version="16.9.31023.347" targetFramework="net48" />
  <package id="StyleCop.Analyzers" version="1.1.118" targetFramework="net48" developmentDependency="true" />
</packages>